<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>


  </style>
    <link rel="stylesheet" href="firework.css">

</head>


<body>
<div class="content-container">
  <div id="myConfettiContainer">
    <!-- 这里是放置脚本的容器 -->
  </div>
  </div>

</body>
<script src="firework.js"></script>
<script>
    var colors = ["DodgerBlue", "OliveDrab", "Gold", "Pink", "SlateBlue", "LightBlue", "Violet", "PaleGreen", "SteelBlue", "SandyBrown", "Chocolate", "Crimson"];
    var colors = ["PaleGreen", "OliveDrab","PaleGreen"];
    var colors = [ "Violet","Crimson"];

    startConfetti(300,1,colors,2500);
    </script>

</html>